body{
    background-color: black;
    color: white;
}
.myborder{
    /* border: 2px solid black; */
}

.mycol{
    height: max-content;
}

.input{
    border: 1px solid black;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.mycol1{
    height: fit-content;
}

.myrow{
    height: fit-content;
}

.img{
     width: 10vw;
    height: 10vw; /* Match width */
    border-radius: 50%;
    
    object-fit: cover;
}

.datadiv{
    width: 30vw;
    height: 10vw;
}


  .skeleton-item {
    height: 60px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: 8px;
  }

  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

.skeleton-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e0e0e0;
  animation: pulse 1.5s infinite;
}
  .data-skeleton{
     width: 30vw;
    height: 10vw;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
   
  }
  